BEGIN;
--
-- Create model Issue
--
CREATE TABLE "core_issue" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "description" text NOT NULL, "category" varchar(100) NOT NULL, "location_lat" real NULL, "location_lng" real NULL, "address" varchar(255) NULL, "status" varchar(20) NOT NULL, "priority" varchar(20) NOT NULL, "image_url" varchar(500) NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "citizen_id" bigint NOT NULL REFERENCES "authentication_user" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model IssueUpdate
--
CREATE TABLE "core_issueupdate" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "previous_status" varchar(20) NULL, "new_status" varchar(20) NOT NULL, "comment" text NOT NULL, "created_at" datetime NOT NULL, "admin_id" bigint NULL REFERENCES "authentication_user" ("id") DEFERRABLE INITIALLY DEFERRED, "issue_id" bigint NOT NULL REFERENCES "core_issue" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "core_issue_citizen_id_0315cc34" ON "core_issue" ("citizen_id");
CREATE INDEX "core_issueupdate_admin_id_1bb59b36" ON "core_issueupdate" ("admin_id");
CREATE INDEX "core_issueupdate_issue_id_72c1c6be" ON "core_issueupdate" ("issue_id");
COMMIT;
