BEGIN;
--
-- Create model User
--
CREATE TABLE "authentication_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "role" varchar(20) NOT NULL, "phone_number" varchar(15) NULL, "district" varchar(100) NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL);
CREATE TABLE "authentication_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "authentication_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE "authentication_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "authentication_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "authentication_user_groups_user_id_group_id_8af031ac_uniq" ON "authentication_user_groups" ("user_id", "group_id");
CREATE INDEX "authentication_user_groups_user_id_30868577" ON "authentication_user_groups" ("user_id");
CREATE INDEX "authentication_user_groups_group_id_6b5c44b7" ON "authentication_user_groups" ("group_id");
CREATE UNIQUE INDEX "authentication_user_user_permissions_user_id_permission_id_ec51b09f_uniq" ON "authentication_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "authentication_user_user_permissions_user_id_736ebf7e" ON "authentication_user_user_permissions" ("user_id");
CREATE INDEX "authentication_user_user_permissions_permission_id_ea6be19a" ON "authentication_user_user_permissions" ("permission_id");
COMMIT;
